{% extends 'admin-layout.html' %}

{% block page_title %}Survey manager - Editera rapport{% endblock %}

{% block content %}

	<div class="main">
		<h2>Editera rapport</h2>

		<p>{{ message }}</p>

		<form method="POST">
			<p><input type="text" name="name" placeholder="Namn på rapport" value="{{ report.name }}"></p>
			<div class="row">
				<div class="left">
					<input type="submit" value="Uppdatera">
				</div>
		</form>

				<a class="left abort" href="../report/{{ report.uniqueName }}">eller avbryt</a>
			</div>
	</div>

{% endblock %}