{% extends 'admin-layout.html' %}

{% block page_title %}Survey manager - Ny rapport{% endblock %}

{% block content %}

	<div class="main">
		<h2>Ny rapport</h2>

		<h3>Lägg till testfall till {{ report.name }}</h3>

		{{ message }}

		<form method="POST">
			<p><input type="text" name="name" placeholder="Namn på testfall" value="{{ input.name }}"></p>
			<p><textarea name="description" placeholder="Beskrivning">{{ input.description }}</textarea></p>
			<div class="row">
				<div class="left">
					<input type="submit" value="Spara testfall">
				</div>
		</form>

				<a class="left abort" href="../report/{{ uniqueName }}">eller fortsätt till rapport</a>
			</div>
	</div>

{% endblock %}